@font-face {
  font-family: 'Adigiana-Toybox-Regular';
  src:url('../font/Adigiana-Toybox-Regular.ttf.woff') format('woff'),
      url('../font/Adigiana-Toybox-Regular.ttf.svg#Adigiana-Toybox-Regular') format('svg'),
      url('../font/Adigiana-Toybox-Regular.ttf.eot'),
      url('../font/Adigiana-Toybox-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family:'Courier New', Courier, monospace;
  color: '#1A1A1A';
}

.content {
  text-align: center;
}

.MuiPaper-root{
  background-color: #fafafa !important;
}
h1,h2,h3,h4,h5 {
  font-family: 'Adigiana-Toybox-Regular';
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background-color: #50595B;
  color: #FFFFFF;
  text-align: center;
}