@font-face {
  font-family: 'Adigiana-Toybox-Regular';
  src:url('../font/Adigiana-Toybox-Regular.ttf.woff') format('woff'),
      url('../font/Adigiana-Toybox-Regular.ttf.svg#Adigiana-Toybox-Regular') format('svg'),
      url('../font/Adigiana-Toybox-Regular.ttf.eot'),
      url('../font/Adigiana-Toybox-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family:'Courier New', Courier, monospace;
}

.content {
  min-height: 100vh;
  text-align: center;
  color: #FFFFFF
  
}

.MuiStepLabel-label{
  color: #FFFFFF !important;
}


.content-acceuil{
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url('../images/High_resolution_wallpaper_background_ID_77700208859.jpg') center/cover fixed no-repeat;
  text-align: center;

  min-height: 100vh;
}

.etape-1{
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url('../images/restaurant.jpg') center/cover fixed no-repeat;
}

.etape-2{
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)), center/cover fixed no-repeat;
}

.contenu-acceuil {
  padding-top: 150px
}

.MuiPaper-root{
  background-color: #fafafa !important;
}
h1,h2,h3,h4,h5 {
  font-family: 'Adigiana-Toybox-Regular';
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 15px;
  background-color: #50595B;
  color: #FFFFFF;
  text-align: center;
}